html,body {
  height: 100%;
}

body {
  overflow-y: scroll;
}

/*
html>body.container {
  min-width:100%;
}
*/

div.underlay {
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}

.drag-hover {
  border: 0.25em solid rgba(100, 100, 250, 0.5);
}

div.preview > canvas {
  vertical-align: top;
}

ul.settings-menu a {
}
ul.settings-menu a.enabled > .glyphicon {
  visibility: visible;
}
ul.settings-menu a > .glyphicon {
  visibility: hidden;
}

.alpha.toggle {
  float: right;
  opacity: 0.2;
}

.alpha.toggle:hover {
  opacity: 0.6;
}

.queue>.pending .alpha .down,
.queue>.pending .alpha .up {
  display: inline-block;
}

.alpha .down,
.alpha .up {
  display: none;
}

.glyphicon.close {
  font-size: inherit;
}
